.loginPage {
    display: flex;
    height: 90vh;
}

.logo {
    background-color: black;
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.formDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 0 16px rgba(0, 0, 0, 0.25);
    padding-bottom: 5%;
}

@media (max-width: 767px) {
    .logo {
        display: none;
    }
}

@media (min-width: 768px) {
    .formDiv {
        padding-right: 10%;
    }
}
